<div class="container">
  <ul>
   <% @sort_restaurants.each do |restaurant| %>
   <li>
      <h1><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
      <p><%= restaurant.address %></p>
      <hr>
   </li>
   <% end %>
  </ul>
</div>
